<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div ui-view layout="column"></div>
	</body>
  	<!-- Include all needed scripts-->
  	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- Allow for custom scripts per page-->
	<script type="text/javascript" src="/js/map.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</html>