<div>
	<md-toolbar>
		<h2 layout-margin>MediLoc</h2>
	</md-toolbar>
	<section layout="row" flex>
		<md-sidenav
			class="md-sidenav-left"
			md-component-id="left"
			md-is-locked-open="true"
			md-whiteframe="4"
			layout-padding>
			<md-autocomplete
				md-no-cache="true"
				md-selected-item="selectedItem"
				md-search-text-change="setBeaconFilter(searchText)"
				md-search-text="searchText"
				md-selected-item-change="selectBeacon(item)"
				md-items="item in searchBeacons(searchText)"
				md-item-text="item.id"
				md-min-length="0"
				placeholder="Find Beacon">
				<md-item-template layout="column">
					<span class="item-title"><b>{{item.name}}</b></span>
					<span class="item-metadata">id: {{item.id}}</span>
				</md-item-template>
				<md-not-found>
					No states matching "{{ctrl.searchText}}" were found.
					<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
				</md-not-found>
			</md-autocomplete>
			<div ng-show="state === 'beacon'">
				<h3>Beacon</h3>
				<md-input-container>
					<label>ID</label>
					<input disabled type="text" name="id" ng-model="localCopy.id">
				</md-input-container>
				<md-input-container>
					<label>Name</label>
					<input type="text" name="name" ng-model="localCopy.name">
				</md-input-container>
				<md-input-container>
					<label>Last Seen By</label>
					<input disabled type="text" name="broadcaster" ng-model="localCopy.broadcaster">
				</md-input-container>
				<md-input-container>
					<label>Time Last Seen</label>
					<input disabled type="text" name="broadcaster" ng-value="localCopy.lastSeen | date:'medium'">
				</md-input-container>
				<md-button class="md-raised" ng-click="postBeacon(localCopy)">Update</md-button>
			</div>
			<div ng-show="state === 'broadcaster'">
				<h3>Broadcaster</h3>
				<md-input-container>
					<label>ID</label>
					<input disabled type="text" name="id" ng-model="localCopy.id">
				</md-input-container>
				<md-input-container>
					<label>Name</label>
					<input type="text" name="name" ng-model="localCopy.name">
				</md-input-container>
				<md-input-container>
					<label>Floor</label>
					<input type="text" name="floor" ng-model="localCopy.floor">
				</md-input-container>
				<md-button class="md-warn" ng-click="deleteBroadcaster(localCopy.id)">Delete</md-button>
				<md-button class="md-raised" ng-click="postBroadcaster(localCopy)">Update</md-button>
			</div>
			<div ng-show="state === 'createBroadcaster'">
				<md-input-container>
					<label>Floor</label>
					<input disabled type="text" name="name" ng-model="localCopy.floor">
				</md-input-container>
				<md-input-container>
					<label>ID</label>
					<input type="text" name="id" ng-model="localCopy.id">
				</md-input-container>
				<md-input-container>
					<label>Name</label>
					<input type="text" name="name" ng-model="localCopy.name">
				</md-input-container>
				<md-button class="md-raised" ng-click="postBroadcaster(localCopy)">New Broadcaster Here</md-button>
			</div>
		</md-sidenav>
		<md-content>
			<canvas id="mapCanvas" width="640" height="400" ng-click="canvasClick($event)"></canvas>
		</md-content>
	</section>
</div>