<div>
	<div layout="row" flex>
		<div id="sidebar">
			<div ng-show="selectedBeacon">
				<h3>Beacon</h3>
				<md-input-container>
					<label>ID</label>
					<md-input disabled type="text" name="id" ng-model="selectedBeacon.id">
				</md-input-container>
				<md-input-container>
					<label>Name</label>
					<md-input type="text" name="name" ng-model="selectedBeacon.name">
				</md-input-container>
				<md-input-container>
					<label>Last Seen By</label>
					<md-input type="text" name="broadcaster" ng-model="selectedBeacon.broadcaster">
				</md-input-container>
				<md-input-container>
					<label>Time Last Seen</label>
					<md-input type="text" name="broadcaster" ng-model="selectedBeacon.lastSeen">
				</md-input-container>
			</div>
		</div>
		<md-content>
			<canvas id="mapCanvas" width="640" height="400" ng-click="canvasClick($event)"></canvas>
		</md-content>
	</div>
</div>